<div class="container" ng-controller="departamentos">
    <div class="card">
        <h1 class="text-center">EDITAR DEPARTAMENTO</h1>
        <div class="card-body">
            <!-- <div class="row"> -->
            <table class="table col-md-6">
                <thead class="thead-dark ">
                    <tr>
                        <td>
                            <label class="btn btn-default " for="nombre "> NOMBRE</label>
                        </td>
                        <td>
                            <input #nombre [(ngModel)]="departamento.nombre" type="text" class="form-control" placeholder="{{departamento.nombre}}">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button (click)=" actualizarDepartamento(departamento) " class="btn btn-success ">ACEPTAR</button>
                            <button (click)="cancelar() " class="btn btn-danger " style="margin-left: 10px; ">CANCELAR</button>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>