<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                hola mundo
            </li>
            <!--
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-proveedores']" routerLinkActive="active"> PROVEEDOR</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-articulos']" routerLinkActive="active">ARTICULO</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-precios']" routerLinkActive="active"> PRECIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['listar-rubros']" routerLinkActive="active"> RUBRO</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-subrubros']" routerLinkActive="active"> SUB-RUBRO</a>
            </li> -->

        </ul>
    </div>
</nav>