<div class="container" ng-controller="distritos">
    <div class="card m-2">
        <h1 class="text-center">EDITAR ARTICULO</h1>
        <div class="card-body">
            <table class=" table table-borderless col-md border-0">
                <thead class="thead-dark was-validated">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="column col-md-6">
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="codigoArt"> CODIGO</label>
                                    </td>
                                    <td>
                                        <input #nombre [(ngModel)]="articulo.codigoArt" type="text " class="form-control" placeholder={{articuloDTO.codigoArt}} required="true">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="nombre"> NOMBRE</label>
                                    </td>
                                    <td>
                                        <input #nombre [(ngModel)]="articulo.nombre" type="text " class="form-control" placeholder={{articuloDTO.nombre}} required="true">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="abreviatura"> ABREVIATURA</label>
                                    </td>
                                    <td>
                                        <input #nombre [(ngModel)]="articulo.abreviatura" type="text " class="form-control" placeholder={{articuloDTO.abreviatura}} required="true">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="stockMax"> STOCK_MAX</label>
                                    </td>
                                    <td>
                                        <input #nombre [(ngModel)]="articulo.stockMax" type="text " class="form-control" placeholder={{articuloDTO.stockMax}} required="true">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="stockMin"> STOCK_MIN</label>
                                    </td>
                                    <td>
                                        <input #nombre [(ngModel)]="articulo.stockMin" type="text " class="form-control" placeholder={{articuloDTO.stockMin}} required="true">
                                    </td>
                                </tr>
                                <!-- id : number;
                  nombre: string;
                  abreviatura: string;
                  codigoArt: string;
                  stockMin: number;
                  stockMax: number;
                  proveedorId: number;
                  unidadMedidaId: number;
                  marcaId: number;
                  rubroId: number;
                  subRubroId: number;
                  habilitacion: number; -->
                            </div>
                            <div class="column col-md-6">
                                <tr>
                                    <td>
                                        <label for="unidadMedidaId"> UNIDAD MEDIDA</label>
                                    </td>
                                    <td>
                                        <!-- <select (change)="listarDepartamentos($event.target.value)" [(ngModel)]="departamento" class="form-control"> -->
                                        <select [(ngModel)]="nombreUnidadMedida" class="form-control">
                          <option *ngFor=" let unidadMedida of unidadMedidas"[selected]="unidadMedida.nombre==unidadMedidaSelected.nombre">
                          {{unidadMedida.nombre}}
                        </option>
                      </select>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <label for="rubroId"> RUBRO</label>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="nombreRubro" class="form-control">
                        <option *ngFor=" let rubro of rubros"[selected]="rubro.nombre==rubroSelected.nombre">
                        {{rubro.nombre}}
                      </option>
                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="subRubroId"> SUB RUBRO</label>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="nombreRubro" class="form-control">
                        <option *ngFor=" let rubro of rubros"[selected]="rubro.nombre==rubroSelected.nombre">
                        {{rubro.nombre}}
                      </option>
                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="marcaId"> MARCA</label>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="nombreRubro" class="form-control">
                      <option *ngFor=" let rubro of rubros"[selected]="rubro.nombre==rubroSelected.nombre">
                      {{rubro.nombre}}
                    </option>
                  </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="proveedorId"> PROVEEDOR</label>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="nombreRubro" class="form-control">
                    <option *ngFor=" let rubro of rubros"[selected]="rubro.nombre==rubroSelected.nombre">
                    {{rubro.nombre}}
                  </option>
                </select>
                                    </td>
                                </tr> -->

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <tr>
                            <td>
                                <button (click)="actualizarSubRubro(articulo)" class="btn btn-warning ">ACEPTAR</button>
                            </td>
                            <td>
                                <button (click)="volverAtras() " class="btn btn-danger " style="margin-left: 10px; ">CANCELAR</button>
                            </td>
                        </tr>
                    </div>
                </thead>
            </table>
        </div>
    </div>

</div>
<!-- <select id="departamento" name="departamento" [(ngModel)]="departamento" class="form-control ">
                            <option *ngFor="let departamento of departamentos" [selected]="departamento.nombre===departamentoSelected.nombre">
                                  {{departamento.nombre}}
                            </option>
                      </select> -->

<!-- <label class="btn btn-default " for="departamento "> DEPARTAMENTO </label>



    </div>
</div>

</div> -->