<div class="container" ng-controller="marcas">
    <div class="card m-1">
        <h1 class="text-center">
            <button class="btn btn-default" style="margin-right: 100%;" (click)="backPage()">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20">
                <title>volver</title>
                <path d="M11.302 6.776c-0.196-0.197-0.515-0.197-0.71 0l-2.807 2.865c-0.196 0.199-0.196 0.52 0 0.717l2.807 2.864c0.195 0.199 0.514 0.198 0.71 0 0.196-0.197 0.196-0.518 0-0.717l-2.302-2.505 2.302-2.506c0.196-0.198 0.196-0.518 0-0.718zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6 0 5.303 4.298 9.6 9.6 9.6s9.6-4.297 9.6-9.6c0-5.302-4.298-9.6-9.6-9.6zM10 18.354c-4.615 0-8.354-3.74-8.354-8.354s3.739-8.354 8.354-8.354c4.613 0 8.354 3.74 8.354 8.354s-3.741 8.354-8.354 8.354z"></path>
                </svg>
          </button>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20">
            <title>MARCA</title>
            <path d="M19.388 0.405c-0.111-0.314-0.454-0.48-0.769-0.371s-0.481 0.455-0.372 0.77c0.929 2.67-0.915 4.664-2.321 5.732l-0.568-0.814c-0.191-0.273-0.618-0.5-0.95-0.504l-3.188 0.014c-0.332-0.006-0.825 0.146-1.097 0.338l-9.394 6.587c-0.455 0.32-0.565 0.947-0.247 1.404l4.269 6.108c0.32 0.455 0.831 0.4 1.287 0.082l9.394-6.588c0.27-0.191 0.582-0.603 0.692-0.918l0.998-3.145c0.11-0.314 0.043-0.793-0.148-1.066l-0.346-0.496c1.888-1.447 3.848-4.004 2.76-7.133zM15.017 9.763c-0.727 0.51-1.731 0.332-2.24-0.396-0.511-0.73-0.333-1.734 0.395-2.246 0.578-0.405 1.328-0.376 1.868 0.017-0.272 0.164-0.459 0.26-0.494 0.275-0.301 0.143-0.43 0.504-0.288 0.805 0.104 0.219 0.321 0.348 0.547 0.348 0.086 0 0.174-0.020 0.257-0.059 0.194-0.092 0.402-0.201 0.619-0.33 0.097 0.594-0.139 1.217-0.664 1.586z"></path>
          </svg>LISTA DE MARCAS</h1>

        <div class="card-body ">
            <div class="row ">
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <td>
                                <button class="btn btn-default ">NOMBRE </button>
                            </td>
                            <td>
                                <input type="text " [(ngModel)]="busqueda " class="form-control " placeholder="ingrese nombre " (keyup)="filtrarBancoNombre(event) ">
                            </td>
                            <td>
                                <button class="btn btn-default ">ABREVIATURA </button>
                            </td>
                            <td>
                                <input type="text " [(ngModel)]="busquedaNombre " class="form-control " placeholder="ingrese abreviatura " (keyup)="filtrarBancoAbreviatura(event) ">

                            </td>
                            <td>

                                <button class="btn btn-warning " [routerLink]="[ '/abm-compras/agregar-marca'] " routerLinkActive="router-link-active " style="margin-left: 50px; ">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <title>MARCA</title>
                                    <path d="M19.388 0.405c-0.111-0.314-0.454-0.48-0.769-0.371s-0.481 0.455-0.372 0.77c0.929 2.67-0.915 4.664-2.321 5.732l-0.568-0.814c-0.191-0.273-0.618-0.5-0.95-0.504l-3.188 0.014c-0.332-0.006-0.825 0.146-1.097 0.338l-9.394 6.587c-0.455 0.32-0.565 0.947-0.247 1.404l4.269 6.108c0.32 0.455 0.831 0.4 1.287 0.082l9.394-6.588c0.27-0.191 0.582-0.603 0.692-0.918l0.998-3.145c0.11-0.314 0.043-0.793-0.148-1.066l-0.346-0.496c1.888-1.447 3.848-4.004 2.76-7.133zM15.017 9.763c-0.727 0.51-1.731 0.332-2.24-0.396-0.511-0.73-0.333-1.734 0.395-2.246 0.578-0.405 1.328-0.376 1.868 0.017-0.272 0.164-0.459 0.26-0.494 0.275-0.301 0.143-0.43 0.504-0.288 0.805 0.104 0.219 0.321 0.348 0.547 0.348 0.086 0 0.174-0.020 0.257-0.059 0.194-0.092 0.402-0.201 0.619-0.33 0.097 0.594-0.139 1.217-0.664 1.586z"></path>
                                  </svg>
                                NUEVA MARCA
                              </button>
                            </td>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>

        <div class=" card-body p-0 " style="width:1100px; height:400px; overflow: auto; ">
            <table class="table table-responsive-sm ">
                <thead class="thead-dark ">
                    <tr class="text-center ">
                        <th scope="col ">ID</th>
                        <th scope="col ">NOMBRE</th>
                        <th scope="col ">ABREVIATURA</th>
                        <th scope="col*2 ">OPCIONES</th>
                    </tr>
                </thead>
                <tbody *ngIf="marcas !=null ">
                    <tr *ngFor="let marca of marcaFilter " class="text-center ">
                        <td>{{marca.id}}</td>
                        <td>{{marca.nombre}}</td>
                        <td>{{marca.abreviatura}}</td>

                        <td>
                            <button class="btn btn-default " title="Modificar " (click)="modificarMarca(marca) ">
                                <svg xmlns="http://www.w3.org/2000/svg " width="14 " height="16 " viewBox="0 0 14 16 "><path fill-rule="evenodd " d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39
          1.02 0 1.41z "/></svg>
                             </button>


                            <button class="btn btn-default " title="Eliminar " style="margin-left: 10px; " (click)="deshabilitarBanco(banco) ">
                            <svg xmlns="http://www.w3.org/2000/svg " width="12 " height="16 " viewBox="0 0 12 16 "><path fill-rule="evenodd " d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48
          1.48L7.48 8z "/></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>