.container {
    background-color: white;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
.table-scroll{
  width:1100px;
  height:400px;
}
.tbody-scroll {
  display: block;
  height: 400px;
  overflow-y: auto;
}
