<div class="container" ng-controller="clientes">
    <div class="card">
        <h1 class="text-center">CARGA DE DEPARTAMENTOS</h1>
        <div class="card-body">
            <table class="table col-md-6 ">
                <thead class="thead-dark was-validated">
                    <tr>
                        <td>
                            <label for="nombre"> NOMBRE</label>
                        </td>
                        <td>
                            <input [(ngModel)]="departamento.nombre" type="text " :required class="form-control " placeholder="ingrese nombre " required="true">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="abreviatura"> ABREVIATURA</label>
                        </td>
                        <td>
                            <input [(ngModel)]="departamento.abreviatura" type="text " class="form-control " placeholder="ingrese apellido " required="true">
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <button (click)="guardarDepartamento(departamento)" class="btn btn-success ">ACEPTAR</button>
                            <button (click)="cancelar() " class="btn btn-danger " style="margin-left: 10px; ">CANCELAR</button>
                        </td>
                    </tr>

                </thead>
            </table>
        </div>
    </div>

</div>
