<div class="container" ng-controller="departamentos">
    <div class="card">

        <div class="card-body">
            <table class="table col-md-6">
                <thead class="thead-dark ">
                    <tr>
                        <td>
                            <label class="btn btn-default " for="nombre"> NOMBRE</label>
                        </td>
                        <td>
                            <input [(ngModel)]="distrito.nombre" type="text " class="form-control " placeholder="ingrese nombre ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="abreviatura"> ABREVIATURA</label>
                        </td>
                        <td>
                            <input [(ngModel)]="distrito.abreviatura" type="text " class="form-control " placeholder="ingrese abreviatura ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="departamento"> DEPARTAMENTO</label>
                        </td>
                        <td>

                            <select (change)='listarDepartamentos($event.target.value)' [(ngModel)]="nombreDepto" class="form-control scrollable-menu">
                            <option *ngFor=" let departamento of departamentos " >
                              {{departamento.nombre}}
                            </option>
                          </select>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <button (click)="nuevoDistrito(distrito)" class="btn btn-success ">ACEPTAR</button>
                            <button (click)="volverAtras() " class="btn btn-danger " style="margin-left: 10px; ">CANCELAR</button>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
