<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">    
            <!-- <li class="nav-item ">
                <a class="nav-link" [routerLink]="['agregar-departamento']" [routerLinkActive]="active"> Algo</a>
            </li> -->
            <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['listar-departamentos']" [routerLinkActive]="active"> CLIENTE</a>
            </li>
            <li class="nav-item ">
                    <a class="nav-link " (click)="reportes() ">DIRECCION</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link " (click)="seguridad() ">TIPO DIRECCION</a>
                </li>
            <li class="nav-item">
                <a class="nav-link " (click)="compras() ">DISTRITOS</a>
            </li>
            <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['listar-departamentos']" [routerLinkActive]="active"> DEPARTAMENTOS</a>
            </li>        
           
        </ul>
    </div>
</nav>