<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-clientes']" routerLinkActive="active"> CLIENTES</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-direccion']" routerLinkActive="active">DIRECCION</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-tipo-direccion']" routerLinkActive="active"> TIPO DIRECCION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['listar-distritos']" routerLinkActive="active"> DISTRITOS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['listar-departamentos']" routerLinkActive="active"> DEPARTAMENTOS</a>
            </li>

        </ul>
    </div>
</nav>