<div class="container" ng-controller="pedido">
    <div class="card m-2">
        <h1 class="text-center">CARGA DE PEDIDOS</h1>
        <div class="card-body">
            <table class=" table table-borderless col-md border-0">
                <thead class="thead-dark was-validated">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="column col-md-12">
                                <tr>
                                    <td>
                                        <label class="btn btn-default " for="nombre"> NOMBRE</label>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="pedido.nombre" type="text " class="form-control" placeholder="ingrese nombre" required="true">
                                    </td>

                                    <td>
                                        <label for="fecha"> FECHA</label>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="pedido.fecha" type="date" class="form-control " required="true">

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="descripcion"> DESCRIPCION</label>
                                    </td>
                                    <td>
                                        <textarea [(ngModel)]="pedido.descripcion" class="form-control" rows="3" cols="12" placeholder="ingrese descripcion" required="true"> </textarea>
                                    </td>

                                    <td>
                                        <label>PROVEEDOR</label>
                                    </td>
                                    <!-- <td>
                                        <select (change)="listarFiltro()" [(ngModel)]="razonSocial" class="form-control">
                                          <option *ngFor=" let prov of proveedores" [ngValue]="prov.razonSocial" selected="razonSocial">
                                          {{prov.razonSocial}}
                                        </option>
                                      </select>
                                    </td> -->


                                    <td>
                                        <select (change)="listarFiltro()" [(ngModel)]="razonSocial" class="form-control">
                                          <option *ngFor=" let prov of proveedores" value="{{prov.razonSocial}}" >
                                            <label *ngIf="prov.razonSocial !== ' '" >{{prov.razonSocial}}</label>
                                            <label *ngIf="prov.razonSocial === ' '" >Todos</label>
                                          </option>
                                      </select>
                                    </td>


                                </tr>
                            </div>
                            <!-- <div class ="column col-md-12"></div> -->
                            <div class="card-body p-0" style="width:1100px; height:400px; overflow: auto; ">
                                <!-- div class=" card-body p-0 " style="width:1100px; height:400px; overflow: auto; "> -->
                                <table class="table table-responsive-sm table-hover ">
                                    <thead class="thead-light border border-dark">
                                        <tr class="text-center ">
                                            <th scope="col*4 ">CODIGO</th>
                                            <th scope="col *4">NOMBRE</th>
                                            <th scope="col *3">STOCK ACTUAL</th>
                                            <th scope="col 10%">CARGA</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="articulos !=null ">
                                        <tr *ngFor="let articulo of articulosFilter; let i = index" class="text-center ">
                                            <td>{{articulo.codigoArt}}</td>
                                            <td>{{articulo.nombre}}</td>
                                            <td>{{stockArticulo[i]}}</td>
                                            <!-- <td class="column col-2 col-md-2 col-xl-1"> -->
                                            <td>
                                                <input (change)="guardarCarga()" [(ngModel)]="movimientoFilter[i].movimiento" type="number" class="form-control text-center " placeholder="cantidad">
                                            </td>
                                            <!-- <td *ngIf="articulo.unidadMedidaId==null "></td>
                                            <td *ngIf="articulo.unidadMedidaId !=null ">{{articulo.unidadMedidaId.abreviatura}}</td> -->

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row justify-content-center">
                        <tr>
                            <td>
                                <button (click)="guardarPedido(pedido)" class="btn btn-warning">ACEPTAR</button>
                            </td>
                            <td>
                                <button (click)="volverAtras() " class="btn btn-danger " style="margin-left: 10px; ">CANCELAR</button>
                            </td>
                        </tr>
                    </div>

                </thead>
            </table>
        </div>
    </div>
</div>
