<div class="container" ng-controller="Tipo Direccion">
  <div class="card m-1">
    <button
      class="btn btn-default"
      style="margin-right: 100%;"
      (click)="backPage()"
    >
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        viewBox="0 0 20 20"
      >
        <title>volver</title>
        <path
          d="M11.302 6.776c-0.196-0.197-0.515-0.197-0.71 0l-2.807 2.865c-0.196 0.199-0.196 0.52 0 0.717l2.807 2.864c0.195 0.199 0.514 0.198 0.71 0 0.196-0.197 0.196-0.518 0-0.717l-2.302-2.505 2.302-2.506c0.196-0.198 0.196-0.518 0-0.718zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6 0 5.303 4.298 9.6 9.6 9.6s9.6-4.297 9.6-9.6c0-5.302-4.298-9.6-9.6-9.6zM10 18.354c-4.615 0-8.354-3.74-8.354-8.354s3.739-8.354 8.354-8.354c4.613 0 8.354 3.74 8.354 8.354s-3.741 8.354-8.354 8.354z"
        ></path>
      </svg>
    </button>
    <h1 class="text-center">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 32 32"
      >
        <title>PROVEEDOR</title>
        <path
          d="M10 6c0-3.314 2.686-6 6-6s6 2.686 6 6c0 3.314-2.686 6-6 6s-6-2.686-6-6zM24.002 14h-1.107l-6.222 12.633 2.327-11.633-3-3-3 3 2.327 11.633-6.222-12.633h-1.107c-3.998 0-3.998 2.687-3.998 6v10h24v-10c0-3.313 0-6-3.998-6z"
        ></path>
      </svg>
      LISTA DE PROVEEDORES
    </h1>

    <div class="card-body">
      <div class="row">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <td>
                <button class="btn btn-default">RAZON SOCIAL</button>
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="busqueda"
                  class="form-control"
                  placeholder="ingrese razon social"
                  (keyup)="filtrarProveedorRazonSocial(event)"
                />
              </td>
              <td>
                <button class="btn btn-default">TELEFONO</button>
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="busquedaTelefono"
                  class="form-control"
                  placeholder="ingrese telefono"
                  (keyup)="filtrarProveedorTelefono(event)"
                />
              </td>
              <td>
                <button class="btn btn-default">MAIL</button>
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="busquedaMail"
                  class="form-control"
                  placeholder="ingrese mail"
                  (keyup)="filtrarProveedorMail($event)"
                />
              </td>

              <td>
                <button
                  class="btn btn-warning"
                  [routerLink]="['/compras/agregar-proveedor']"
                  routerLinkActive="router-link-active"
                  style="margin-left: 50px;"
                >
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 32 32"
                  >
                    <title>PROVEEDOR</title>
                    <path
                      d="M10 6c0-3.314 2.686-6 6-6s6 2.686 6 6c0 3.314-2.686 6-6 6s-6-2.686-6-6zM24.002 14h-1.107l-6.222 12.633 2.327-11.633-3-3-3 3 2.327 11.633-6.222-12.633h-1.107c-3.998 0-3.998 2.687-3.998 6v10h24v-10c0-3.313 0-6-3.998-6z"
                    ></path>
                  </svg>
                  PROVEEDOR
                </button>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div
      class="card-body p-0"
      style="width: 1100px; height: 400px; overflow: auto;"
    >
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col ">RAZON SOCIAL</th>
            <th scope="col ">CELULAR</th>
            <th scope="col ">TELEFONO</th>
            <th scope="col*2 ">OPCIONES</th>
          </tr>
        </thead>
        <tbody *ngIf="proveedores != null">
          <tr *ngFor="let proveedor of proveedoresFilter" class="text-center">
            <td>{{ proveedor.razonSocial }}</td>
            <td>{{ proveedor.celular }}</td>
            <td>{{ proveedor.telefono }}</td>

            <td>
              <button
                class="btn btn-default m-0 p-0"
                title="Modificar "
                (click)="modificarProveedor(proveedor)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg "
                  width="18 "
                  height="22 "
                  viewBox="0 0 14 16 "
                >
                  <path
                    fill-rule="evenodd "
                    d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39
                                  1.02 0 1.41z "
                  />
                </svg>
              </button>
              &nbsp;
              <button
                class="btn btn-default m-0 p-0"
                title="Eliminar "
                (click)="deshabilitarProveedor(proveedor)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg "
                  width="18 "
                  height="22 "
                  viewBox="0 0 12 16 "
                >
                  <path
                    fill-rule="evenodd "
                    d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48
                              1.48L7.48 8z "
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
