<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Casa</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="ventas()">VENTAS</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" (click)="compras()">COMPRAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="seguridad()">SEGURIDAD</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="reportes()">REPORTES</a>
            </li>
            <li class="nav-item active" (click)="logistica()">
                <a class="nav-link">LOGISTICA</a>
            </li> -->

        </ul>
    </div>
</nav>