<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16" class="svg-color"><path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"/></svg>
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['ventas']" routerLinkActive="active">VENTAS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['compras']" routerLinkActive="active">COMPRAS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" (click)="seguridad()">SEGURIDAD</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" (click)="reportes()">REPORTES</a>
            </li>
            <li class="nav-item " (click)="logistica()">
                <a class="nav-link">LOGISTICA</a>
            </li>

        </ul>
    </div>
</nav>
