.fondo {
    background-image: url('../assets/images/bg-05.jpg');
    /* background-image: url('../assets/gif/art.gif'); */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}